---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION, SUBDOMAIN } from "../consts";
import MainLayout from "@/layouts/MainLayout.astro";

const problems = await getCollection("problems");
problems.sort((a, b) => a.data.number - b.data.number);
---

<MainLayout
  siteTitle={SITE_TITLE}
  description={SITE_DESCRIPTION}
  pageTitle="LeetCode Algorithms"
>
  <section class="text-center text-gray-100 max-w-4xl mx-auto space-y-6">
    <h1 class="text-5xl font-bold">{SITE_TITLE}</h1>
    <p class="text-xl">
      Problem-solving is the heart of programming. The ability to analyze a
      problem, recognize the right approach, and implement an efficient solution
      is what separates good engineers from great ones.
    </p>
    <p class="text-xl">
      This collection is my personal journey through LeetCode problems, written
      not just to keep track of solutions, but to build a playbook of algorithms
      and techniques. Each problem is more than a coding exercise, it is a
      lesson in problem decomposition, algorithm design, and optimization.
    </p>
  </section>
  <section class="text-gray-100">
    <h2 class="text-3xl font-semibold">Problems:</h2>
    <ul class="mt-4 space-y-1">
      {
        problems.map((problem) => (
          <li class="mb-2">
            <a
              href={`/${SUBDOMAIN}/problems/${problem.slug}`}
              class="hover:underline"
            >
              #{problem.data.number} - {problem.data.title} ({problem.data.difficulty})
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
